<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.ActivityStudentMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.ActivityStudent" >
    <id column="pk_activity_student" property="pkActivityStudent" jdbcType="VARCHAR" />
    <result column="pk_student" property="pkStudent" jdbcType="VARCHAR" />
    <result column="pk_classinfo" property="pkClassinfo" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_activity_student, pk_student, pk_classinfo, score, notes, evaluate, creator, creation_date, 
    modifier, lastedit_date
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.ActivityStudent" >
    select
    <include refid="Base_Column_List" />
    from activity_student
    where 1=1
    <if test="pkStudent != null" >
      and pk_student = #{pkStudent}
    </if>
    <if test="pkClassinfo != null" >
      and pk_classinfo = #{pkClassinfo}
    </if>
  </select>
  <select id="countBy" resultType="java.lang.Integer" parameterType="com.wuxue.model.ActivityStudent" >
    select
    count(*)
    from activity_student
    where 1=1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activity_student
    where pk_activity_student = #{pkActivityStudent,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from activity_student
    where pk_activity_student = #{pkActivityStudent,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.ActivityStudent" >
    insert into activity_student (pk_activity_student, pk_student, pk_classinfo, 
      score, notes, evaluate, 
      creator, creation_date, modifier, 
      lastedit_date)
    values (#{pkActivityStudent,jdbcType=VARCHAR}, #{pkStudent,jdbcType=VARCHAR}, #{pkClassinfo,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR}, #{evaluate,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{lasteditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.ActivityStudent" >
    insert into activity_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkActivityStudent != null" >
        pk_activity_student,
      </if>
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="pkClassinfo != null" >
        pk_classinfo,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkActivityStudent != null" >
        #{pkActivityStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkClassinfo != null" >
        #{pkClassinfo,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.ActivityStudent" >
    update activity_student
    <set >
      <if test="pkStudent != null" >
        pk_student = #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkClassinfo != null" >
        pk_classinfo = #{pkClassinfo,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_activity_student = #{pkActivityStudent,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.ActivityStudent" >
    update activity_student
    set pk_student = #{pkStudent,jdbcType=VARCHAR},
      pk_classinfo = #{pkClassinfo,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      evaluate = #{evaluate,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP}
    where pk_activity_student = #{pkActivityStudent,jdbcType=VARCHAR}
  </update>
</mapper>