<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.CanteenMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.Canteen" >
    <id column="pk_canteen" property="pkCanteen" jdbcType="VARCHAR" />
    <result column="pk_domain" property="pkDomain" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="canteen_name" property="canteenName" jdbcType="VARCHAR" />
    <result column="table_number" property="tableNumber" jdbcType="SMALLINT" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="pk_employee" property="pkEmployee" jdbcType="VARCHAR" />
    <result column="isvalid" property="isvalid" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_canteen, pk_domain, code, canteen_name, table_number, adress, pk_employee, isvalid, 
    memo, creator, creation_date, modifier, lastedit_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from canteen
    where pk_canteen = #{pkCanteen,jdbcType=VARCHAR}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.Canteen" >
    select
    <include refid="Base_Column_List" />
    from canteen
    where 1=1
    <if test="pkDomain != null" >
      and pk_domain = #{pkDomain}
    </if>
    ORDER BY lastedit_date
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from canteen
    where pk_canteen = #{pkCanteen,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.Canteen" >
    insert into canteen (pk_canteen, pk_domain, code, 
      canteen_name, table_number, adress, 
      pk_employee, isvalid, memo, 
      creator, creation_date, modifier, 
      lastedit_date)
    values (#{pkCanteen,jdbcType=VARCHAR}, #{pkDomain,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{canteenName,jdbcType=VARCHAR}, #{tableNumber,jdbcType=SMALLINT}, #{adress,jdbcType=VARCHAR}, 
      #{pkEmployee,jdbcType=VARCHAR}, #{isvalid,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR},
      #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{lasteditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.Canteen" >
    insert into canteen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkCanteen != null" >
        pk_canteen,
      </if>
      <if test="pkDomain != null" >
        pk_domain,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="canteenName != null" >
        canteen_name,
      </if>
      <if test="tableNumber != null" >
        table_number,
      </if>
      <if test="adress != null" >
        adress,
      </if>
      <if test="pkEmployee != null" >
        pk_employee,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkCanteen != null" >
        #{pkCanteen,jdbcType=VARCHAR},
      </if>
      <if test="pkDomain != null" >
        #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="canteenName != null" >
        #{canteenName,jdbcType=VARCHAR},
      </if>
      <if test="tableNumber != null" >
        #{tableNumber,jdbcType=SMALLINT},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="pkEmployee != null" >
        #{pkEmployee,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.Canteen" >
    update canteen
    <set >
      <if test="pkDomain != null" >
        pk_domain = #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="canteenName != null" >
        canteen_name = #{canteenName,jdbcType=VARCHAR},
      </if>
      <if test="tableNumber != null" >
        table_number = #{tableNumber,jdbcType=SMALLINT},
      </if>
      <if test="adress != null" >
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="pkEmployee != null" >
        pk_employee = #{pkEmployee,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_canteen = #{pkCanteen,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.Canteen" >
    update canteen
    set pk_domain = #{pkDomain,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      canteen_name = #{canteenName,jdbcType=VARCHAR},
      table_number = #{tableNumber,jdbcType=SMALLINT},
      adress = #{adress,jdbcType=VARCHAR},
      pk_employee = #{pkEmployee,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP}
    where pk_canteen = #{pkCanteen,jdbcType=VARCHAR}
  </update>
</mapper>