<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.DeliveryStudentMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.shuttle.DeliveryStudent" >
    <id column="pk_delivery_student" property="pkDeliveryStudent" jdbcType="VARCHAR" />
    <result column="pk_student" property="pkStudent" jdbcType="VARCHAR" />
    <result column="pk_delivery" property="pkDelivery" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_delivery_student, pk_student, pk_delivery
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.shuttle.DeliveryStudent" >
    select
    <include refid="Base_Column_List" />
    from delivery_student
    where 1=1
    <if test="pkDelivery != null" >
      and pk_delivery = #{pkDelivery}
    </if>
    <if test="pkStudent != null" >
      and pk_student = #{pkStudent}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from delivery_student
    where pk_delivery_student = #{pkDeliveryStudent,jdbcType=VARCHAR}
  </select>
  <select id="selectByPkDelivery" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from delivery_student
    where pk_delivery = #{pkDelivery,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from delivery_student
    where pk_delivery_student = #{pkDeliveryStudent,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.shuttle.DeliveryStudent" >
    insert into delivery_student (pk_delivery_student, pk_student, pk_delivery
      )
    values (#{pkDeliveryStudent,jdbcType=VARCHAR}, #{pkStudent,jdbcType=VARCHAR}, #{pkDelivery,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.shuttle.DeliveryStudent" >
    insert into delivery_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkDeliveryStudent != null" >
        pk_delivery_student,
      </if>
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="pkDelivery != null" >
        pk_delivery,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkDeliveryStudent != null" >
        #{pkDeliveryStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkDelivery != null" >
        #{pkDelivery,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.shuttle.DeliveryStudent" >
    update delivery_student
    <set >
      <if test="pkStudent != null" >
        pk_student = #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkDelivery != null" >
        pk_delivery = #{pkDelivery,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_delivery_student = #{pkDeliveryStudent,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.shuttle.DeliveryStudent" >
    update delivery_student
    set pk_student = #{pkStudent,jdbcType=VARCHAR},
      pk_delivery = #{pkDelivery,jdbcType=VARCHAR}
    where pk_delivery_student = #{pkDeliveryStudent,jdbcType=VARCHAR}
  </update>
</mapper>