<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.QrCodeMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.shuttle.QrCode" >
    <id column="pk_qr_code" property="pkQrCode" jdbcType="VARCHAR" />
    <result column="pk_domain" property="pkDomain" jdbcType="VARCHAR" />
    <result column="pk_student" property="pkStudent" jdbcType="VARCHAR" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="statrt_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_qr_code, pk_domain, pk_student, delivery_date, statrt_date, end_date, parameter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qr_code
    where pk_qr_code = #{pkQrCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qr_code
    where pk_qr_code = #{pkQrCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.shuttle.QrCode" >
    insert into qr_code (pk_qr_code, pk_domain, pk_student, 
      delivery_date, statrt_date, end_date, 
      parameter)
    values (#{pkQrCode,jdbcType=VARCHAR}, #{pkDomain,jdbcType=VARCHAR}, #{pkStudent,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=TIMESTAMP}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{parameter,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.shuttle.QrCode" >
    insert into qr_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkQrCode != null" >
        pk_qr_code,
      </if>
      <if test="pkDomain != null" >
        pk_domain,
      </if>
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="startDate != null" >
        statrt_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkQrCode != null" >
        #{pkQrCode,jdbcType=VARCHAR},
      </if>
      <if test="pkDomain != null" >
        #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.shuttle.QrCode" >
    update qr_code
    <set >
      <if test="pkDomain != null" >
        pk_domain = #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        pk_student = #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        statrt_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_qr_code = #{pkQrCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.shuttle.QrCode" >
    update qr_code
    set pk_domain = #{pkDomain,jdbcType=VARCHAR},
      pk_student = #{pkStudent,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      statrt_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      parameter = #{parameter,jdbcType=VARCHAR}
    where pk_qr_code = #{pkQrCode,jdbcType=VARCHAR}
  </update>

  <select id="getQrCodeString" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from qr_code where pk_student = #{studentId}   ORDER BY start_date desc limit 1
  </select>
</mapper>