<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.QuestionsOptionMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.QuestionsOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="regdate" property="regdate" jdbcType="INTEGER" />
    <result column="modifydate" property="modifydate" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="isdel" property="isdel" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, sort, regdate, modifydate, status, isdel
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.QuestionsOption" >
    select
    <include refid="Base_Column_List" />
    from questions_option
    where 1=1
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from questions_option
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from questions_option
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.QuestionsOption" >
    insert into questions_option (id, title, content, 
      sort, regdate, modifydate, 
      status, isdel)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{regdate,jdbcType=INTEGER}, #{modifydate,jdbcType=INTEGER}, 
      #{status,jdbcType=SMALLINT}, #{isdel,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.QuestionsOption" >
    insert into questions_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="regdate != null" >
        regdate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="regdate != null" >
        #{regdate,jdbcType=INTEGER},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.QuestionsOption" >
    update questions_option
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="regdate != null" >
        regdate = #{regdate,jdbcType=INTEGER},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.QuestionsOption" >
    update questions_option
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      regdate = #{regdate,jdbcType=INTEGER},
      modifydate = #{modifydate,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      isdel = #{isdel,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>