<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.SchoolBusStudentNumMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.SchoolBusStudentNum" >
    <result column="pk_domain" property="pkDomain" jdbcType="VARCHAR" />
    <result column="stunum" property="stunum" jdbcType="BIGINT" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    pk_domain,stunum,caption,code
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.SchoolBusStudentNum" >
    select
    <include refid="Base_Column_List" />
    from school_bus_student_num
    where 1=1
    <if test="pkDomain != null" >
      and pk_domain = #{pkDomain}
    </if>
    order by caption DESC
  </select>
  <insert id="insert" parameterType="com.wuxue.model.SchoolBusStudentNum" >
    insert into school_bus_student_num (pk_domain, stunum, caption,code
      )
    values (#{pkDomain,jdbcType=VARCHAR}, #{stunum,jdbcType=BIGINT}, #{caption,jdbcType=VARCHAR},
    #{code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.SchoolBusStudentNum" >
    insert into school_bus_student_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkDomain != null" >
        pk_domain,
      </if>
      <if test="stunum != null" >
        stunum,
      </if>
      <if test="caption != null" >
        caption,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkDomain != null" >
        #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null" >
        #{stunum,jdbcType=BIGINT},
      </if>
      <if test="caption != null" >
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>