<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.StudentAssignMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.StudentAssign" >
    <id column="pk_student_assign" property="pkStudentAssign" jdbcType="VARCHAR" />
    <result column="pk_student" property="pkStudent" jdbcType="VARCHAR" />
    <result column="pk_course" property="pkCourse" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_student_assign, pk_student, pk_course, status, isdel, creator, creation_date, 
    modifier, lastedit_date
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.StudentAssign" >
    select
    <include refid="Base_Column_List" />
    from student_assign
    where 1=1
    <if test="pkStudent != null" >
      and pk_student = #{pkStudent}
    </if>
    <if test="pkCourse != null" >
      and pk_course = #{pkCourse}
    </if>
  </select>
  <select id="countBy" resultType="java.lang.Integer" parameterType="com.wuxue.model.StudentAssign" >
    select
    count(*)
    from student_assign
    where 1=1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from student_assign
    where pk_student_assign = #{pkStudentAssign,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_assign
    where pk_student_assign = #{pkStudentAssign,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.StudentAssign" >
    insert into student_assign (pk_student_assign, pk_student, pk_course, 
      status, isdel, creator, 
      creation_date, modifier, lastedit_date
      )
    values (#{pkStudentAssign,jdbcType=VARCHAR}, #{pkStudent,jdbcType=VARCHAR}, #{pkCourse,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{lasteditDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.StudentAssign" >
    insert into student_assign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkStudentAssign != null" >
        pk_student_assign,
      </if>
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="pkCourse != null" >
        pk_course,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkStudentAssign != null" >
        #{pkStudentAssign,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkCourse != null" >
        #{pkCourse,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.StudentAssign" >
    update student_assign
    <set >
      <if test="pkStudent != null" >
        pk_student = #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="pkCourse != null" >
        pk_course = #{pkCourse,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_student_assign = #{pkStudentAssign,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.StudentAssign" >
    update student_assign
    set pk_student = #{pkStudent,jdbcType=VARCHAR},
      pk_course = #{pkCourse,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP}
    where pk_student_assign = #{pkStudentAssign,jdbcType=VARCHAR}
  </update>
</mapper>