<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.StudentPlansCaptionMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.StudentPlansCaption" >
    <id column="pk_student_test_plans" property="pkStudentTestPlans" jdbcType="VARCHAR" />
    <result column="pk_domain" property="pkDomain" jdbcType="VARCHAR" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="pk_classinfo" property="pkClassinfo" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="isvalid" property="isvalid" jdbcType="INTEGER" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_student_test_plans, pk_domain, caption, pk_classinfo, date, isvalid, details, 
    memo, creator, creation_date, modifier, lastedit_date,code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from student_plans_caption
    where pk_student_test_plans = #{pkStudentTestPlans,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_plans_caption
    where pk_student_test_plans = #{pkStudentTestPlans,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.StudentPlansCaption" >
    insert into student_plans_caption (pk_student_test_plans, pk_domain, caption, 
      pk_classinfo, date, isvalid, 
      details, memo, creator, 
      creation_date, modifier, lastedit_date,code
      )
    values (#{pkStudentTestPlans,jdbcType=VARCHAR}, #{pkDomain,jdbcType=VARCHAR}, #{caption,jdbcType=VARCHAR}, 
      #{pkClassinfo,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{isvalid,jdbcType=INTEGER}, 
      #{details,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{lasteditDate,jdbcType=TIMESTAMP},
      #{code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.StudentPlansCaption" >
    insert into student_plans_caption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkStudentTestPlans != null" >
        pk_student_test_plans,
      </if>
      <if test="pkDomain != null" >
        pk_domain,
      </if>
      <if test="caption != null" >
        caption,
      </if>
      <if test="pkClassinfo != null" >
        pk_classinfo,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkStudentTestPlans != null" >
        #{pkStudentTestPlans,jdbcType=VARCHAR},
      </if>
      <if test="pkDomain != null" >
        #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="caption != null" >
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="pkClassinfo != null" >
        #{pkClassinfo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.StudentPlansCaption" >
    update student_plans_caption
    <set >
      <if test="pkDomain != null" >
        pk_domain = #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="caption != null" >
        caption = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="pkClassinfo != null" >
        pk_classinfo = #{pkClassinfo,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_student_test_plans = #{pkStudentTestPlans,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.StudentPlansCaption" >
    update student_plans_caption
    set pk_domain = #{pkDomain,jdbcType=VARCHAR},
      caption = #{caption,jdbcType=VARCHAR},
      pk_classinfo = #{pkClassinfo,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      isvalid = #{isvalid,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR}
    where pk_student_test_plans = #{pkStudentTestPlans,jdbcType=VARCHAR}
  </update>
</mapper>