<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.StudentEduExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.StudentEduExperience" >
    <id column="pk_student_edu_experience" property="pkStudentEduExperience" jdbcType="VARCHAR" />
    <result column="pk_domain" property="pkDomain" jdbcType="VARCHAR" />
    <result column="pk_student" property="pkStudent" jdbcType="VARCHAR" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="school_address" property="schoolAddress" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="academic_record" property="academicRecord" jdbcType="INTEGER" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_student_edu_experience, pk_domain, pk_student, school_name, school_address, start_date, 
    end_date, academic_record, notes, creator, creation_date, modifier, lastedit_date
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.wuxue.model.StudentEduExperience" >
    select
    <include refid="Base_Column_List" />
    from student_edu_experience
    where 1=1
    <if test="pkDomain != null" >
      and pk_domain = #{pkDomain}
    </if>
    <if test="pkStudent != null" >
      and pk_student = #{pkStudent}
    </if>
    <!--<if test="start != null and pageSize != null">-->
      <!--LIMIT #{start}, #{pageSize}-->
    <!--</if>-->
  </select>
  <select id="countBy" resultType="java.lang.Integer" parameterType="com.wuxue.model.StudentEduExperience" >
    select
    count(*)
    from student_edu_experience
    where 1=1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from student_edu_experience
    where pk_student_edu_experience = #{pkStudentEduExperience,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_edu_experience
    where pk_student_edu_experience = #{pkStudentEduExperience,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.StudentEduExperience" >
    insert into student_edu_experience (pk_student_edu_experience, pk_domain, 
      pk_student, school_name, school_address, 
      start_date, end_date, academic_record, 
      notes, creator, creation_date, 
      modifier, lastedit_date)
    values (#{pkStudentEduExperience,jdbcType=VARCHAR}, #{pkDomain,jdbcType=VARCHAR}, 
      #{pkStudent,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{schoolAddress,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{academicRecord,jdbcType=INTEGER}, 
      #{notes,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{lasteditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.StudentEduExperience" >
    insert into student_edu_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkStudentEduExperience != null" >
        pk_student_edu_experience,
      </if>
      <if test="pkDomain != null" >
        pk_domain,
      </if>
      <if test="pkStudent != null" >
        pk_student,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="schoolAddress != null" >
        school_address,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="academicRecord != null" >
        academic_record,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkStudentEduExperience != null" >
        #{pkStudentEduExperience,jdbcType=VARCHAR},
      </if>
      <if test="pkDomain != null" >
        #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAddress != null" >
        #{schoolAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="academicRecord != null" >
        #{academicRecord,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.StudentEduExperience" >
    update student_edu_experience
    <set >
      <if test="pkDomain != null" >
        pk_domain = #{pkDomain,jdbcType=VARCHAR},
      </if>
      <if test="pkStudent != null" >
        pk_student = #{pkStudent,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null" >
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAddress != null" >
        school_address = #{schoolAddress,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="academicRecord != null" >
        academic_record = #{academicRecord,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_student_edu_experience = #{pkStudentEduExperience,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.StudentEduExperience" >
    update student_edu_experience
    set pk_domain = #{pkDomain,jdbcType=VARCHAR},
      pk_student = #{pkStudent,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      school_address = #{schoolAddress,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      academic_record = #{academicRecord,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP}
    where pk_student_edu_experience = #{pkStudentEduExperience,jdbcType=VARCHAR}
  </update>
</mapper>