<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.SysTableColumnMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.SysTableColumn" >
    <id column="pk_sys_table_column" property="pkSysTableColumn" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_sys_table_column, code, caption, creator, creation_date, modifier, lastedit_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_table_column
    where pk_sys_table_column = #{pkSysTableColumn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_table_column
    where pk_sys_table_column = #{pkSysTableColumn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.SysTableColumn" >
    insert into sys_table_column (pk_sys_table_column, code, caption, 
      creator, creation_date, modifier, 
      lastedit_date)
    values (#{pkSysTableColumn,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{caption,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{lasteditDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.SysTableColumn" >
    insert into sys_table_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkSysTableColumn != null" >
        pk_sys_table_column,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="caption != null" >
        caption,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkSysTableColumn != null" >
        #{pkSysTableColumn,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="caption != null" >
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.SysTableColumn" >
    update sys_table_column
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="caption != null" >
        caption = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_sys_table_column = #{pkSysTableColumn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.SysTableColumn" >
    update sys_table_column
    set code = #{code,jdbcType=VARCHAR},
      caption = #{caption,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP}
    where pk_sys_table_column = #{pkSysTableColumn,jdbcType=VARCHAR}
  </update>
</mapper>