<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuxue.api.mapper.TkSetMealMapper" >
  <resultMap id="BaseResultMap" type="com.wuxue.model.TkSetMeal" >
    <id column="pk_set_meal" property="pkSetMeal" jdbcType="VARCHAR" />
    <result column="caption" property="caption" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="current_price" property="currentPrice" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastedit_date" property="lasteditDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wuxue.model.TkSetMeal" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk_set_meal, caption, number, status, creator, creation_date, modifier, lastedit_date,
    price,current_price
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="select" resultMap="ResultMapWithBLOBs" parameterType="com.wuxue.model.TkSetMeal">
    SELECT
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    FROM tk_set_meal
    WHERE 1=1
    ORDER BY lastedit_date DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tk_set_meal
    where pk_set_meal = #{pkSetMeal,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tk_set_meal
    where pk_set_meal = #{pkSetMeal,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxue.model.TkSetMeal" >
    insert into tk_set_meal (pk_set_meal, caption, number, 
      status, creator, creation_date, 
      modifier, lastedit_date, memo,price,current_price
      )
    values (#{pkSetMeal,jdbcType=VARCHAR}, #{caption,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{lasteditDate,jdbcType=TIMESTAMP}, #{memo,jdbcType=LONGVARCHAR},
      #{price,jdbcType=DOUBLE}, #{currentPrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxue.model.TkSetMeal" >
    insert into tk_set_meal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkSetMeal != null" >
        pk_set_meal,
      </if>
      <if test="caption != null" >
        caption,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lasteditDate != null" >
        lastedit_date,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkSetMeal != null" >
        #{pkSetMeal,jdbcType=VARCHAR},
      </if>
      <if test="caption != null" >
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxue.model.TkSetMeal" >
    update tk_set_meal
    <set >
      <if test="caption != null" >
        caption = #{caption,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lasteditDate != null" >
        lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where pk_set_meal = #{pkSetMeal,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuxue.model.TkSetMeal" >
    update tk_set_meal
    set caption = #{caption,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=LONGVARCHAR},
      price = #{price,jdbcType=DOUBLE},
      current_price = #{currentPrice,jdbcType=DOUBLE}
    where pk_set_meal = #{pkSetMeal,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxue.model.TkSetMeal" >
    update tk_set_meal
    set caption = #{caption,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastedit_date = #{lasteditDate,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      current_price = #{currentPrice,jdbcType=DOUBLE},
    where pk_set_meal = #{pkSetMeal,jdbcType=VARCHAR}
  </update>
</mapper>