</section>
<div id="modal" class="modal"></div>
<script src=" /js/jquery-1.11.1.min.js"></script>
<script src=" /js/jquery-migrate-1.2.1.min.js"></script>
<script src=" /js/bootstrap.min.js"></script>
<script src=" /js/modernizr.min.js"></script>
<script src=" /js/jquery.sparkline.min.js"></script>
<script src=" /js/toggles.min.js"></script>
<script src=" /js/retina.min.js"></script>
<script src=" /js/jquery.cookies.js"></script>


<script src=" /js/html5shiv.js"></script>
<script src=" /js/respond.min.js"></script>
<script type="text/javascript" src=" /js/uncompressed/moment.js"></script>
<script type="text/javascript" src=" /js/uncompressed/daterangepicker.js"></script>
<script type="text/javascript" src=" /js/TreeGrid.js"></script>
<script type="text/javascript" src=" /js/application.js"></script>
<script type="text/javascript" src=" /js/ajaxfileupload.js"></script>

<script src=" /js/jquery.datatables.min.js"></script>
<script src=" /js/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src=" /js/dataTables.bootstrap.js"></script>

<script src=" /js/login/bootstrapValidator.min.js"></script>
<script src=" /js/login/bootstrap-notify.js"></script>

<script src=" /js/custom.js?v=1"></script>
<script src=" /js/jquery.ztree.core.js"></script>
<script src=" /js/jquery.ztree.excheck.js"></script>
<script src=" /js/jquery.ztree.exedit.js"></script>
<script src=" /plus/Bootstrap-select/js/bootstrap-select.js"></script>
<script src=" /js/bootstrap-datetimepicker.min.js"></script>
<script src=" /js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src=" /js/function.js?v=3"></script>
<script src=" /js/wuxue-common.js"></script>

<script src=" /js/kindeditor/kindeditor-all.js"></script>
<script src=" /js/kindeditor/lang/zh-CN.js"></script>

<script src=" /layer/layer.min.js"></script>



</body>
</html>
