<!--<#include "${staticPath}/commons/top.ftl" />-->
<!--<#include "${staticPath}/commons/left.ftl" />-->

<!-- top -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> </meta>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <title></title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"> </link>
    <link href="/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet"> </link>
    <link href="/css/plug/bootstrapValidator.min.css" type="text/css" rel="stylesheet"> </link>
    <link href="/css/style.default.css" rel="stylesheet"> </link>
    <link rel="stylesheet" type="text/css" href="/css/datepicker.css"> </link>

    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css"> </link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-dialog.css"> </link>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-notify.css"> </link>
    <link rel="stylesheet" type="text/css" href="/css/tree.css"> </link>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"> </link>
    <link rel="stylesheet" type="text/css" href="/plus/Bootstrap-select/css/bootstrap-select.min.css"> </link>
    <link rel="stylesheet" href="/css/TreeGrid.css" /> </link>
    <link rel="stylesheet" href="/layer/skin/layer.css" /> </link>
    <link rel="stylesheet" href="/layer/skin/layer.ext.css" /> </link>
    <link rel="stylesheet" href="/css/course.css" /> </link>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>
    <div class="mainpanel"><!--mainpanel-->
        <div class="headerbar">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>
            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/photos/blog3.jpg" alt=""/>

                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="/signout"><i class="glyphicon glyphicon-log-out"></i> 退出</a></li>
                                <li><a data-toggle="modal" data-target="#modal" data-url="/updatePassword">修改密码</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <!--top-->


        <!--left-->

        <div class="leftpanel">


            <div class="logopanel">
                <h1><span>[</span> 冠桥 <span>]</span></h1>
            </div><!-- logopanel -->
            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <img alt="" src="/images/photos/blog3.jpg" class="media-object"> </img>
                        <div class="media-body">
                            <h4>Mike</h4>
                            <span>"..."</span>
                        </div>
                    </div>

                    <h5 class="sidebartitle actitle">账户</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        <li><a href="/signout"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
                    </ul>
                </div>
                <!--导航===================================-->
                <!-- <h5 class="sidebartitle">导航菜单</h5>-->
                <ul class="nav nav-pills nav-stacked nav-bracket" id="sysMenuId">
                    <li><a href="/signon"><i class="fa fa-home"></i> <span>首页</span></a></li>
                    <!--<li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span></span></a>-->

                    <li class="nav-parent nav-active active"><a href=""><i class="fa fa-bookmark"></i> <span>市场管理</span></a>
                        <ul class="children" style="display: block;">
                            <li class="active"><a href="/student/studentSignup/query"><i class="fa fa-caret-right"></i>意向学生</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-group"></i> <span>教学管理</span></a>
                        <ul class="children">
                            <li><a href="/classinfo/classinfo/query"><i class="fa fa-caret-right"></i> 新生开班</a></li>
                            <li><a href="/classinfo/classon/query"><i class="fa fa-caret-right"></i> 班级升学</a></li>
                            <li><a href="/classinfo/classreturn/query"><i class="fa fa-caret-right"></i> 学生转班</a></li>
                            <li><a href="/student/studentSignups/query"><i class="fa fa-caret-right"></i> 学生报名</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>教务管理</span></a>
                        <ul class="children">
                            <li><a href="/student/student/query"><i class="fa fa-caret-right"></i>学生档案</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-money"></i> <span>财务管理</span></a>
                        <ul class="children">
                            <li><a href="/finance/receivable/query"><i class="fa fa-caret-right"></i>应收款</a></li>
                            <li><a href="/stuReceiv/geStutreceivList"><i class="fa fa-caret-right"></i>学生收费</a></li>
                            <li><a href="/finance/expenseItem/query"><i class="fa fa-caret-right"></i>费用项目</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-user"></i> <span>人事管理</span></a>
                        <ul class="children">
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-hdd-o"></i> <span>宿舍管理</span></a>
                        <ul class="children">

                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-signal"></i> <span>报表分析</span></a>
                        <ul class="children">
                            <li><a href=""><i class="fa fa-caret-right"></i>校区业绩报表</a></li>
                            <li><a href=""><i class="fa fa-caret-right"></i>校区学生变动情况</a></li>
                            <li><a href=""><i class="fa fa-caret-right"></i>项目业绩报表</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-flag-o"></i> <span>基础资料</span></a>
                        <ul class="children">
                            <li><a href="/system/domain/query"><i class="fa fa-caret-right"></i>校区管理</a></li>
                            <li><a href="/system/department/query"><i class="fa fa-caret-right"></i>部门资料</a></li>
                            <li><a href="/classinfo/classTime/query"><i class="fa fa-caret-right"></i>上课时间</a></li>
                            <li><a href="/classinfo/classRoom/query"><i class="fa fa-caret-right"></i>教室维护</a></li>
                            <li><a href="/system/sysDict/query"><i class="fa fa-caret-right"></i>数据字典</a></li>
                        </ul>
                    </li>
                    <li class="nav-parent"><a href=""><i class="fa fa-cogs"></i> <span>系统管理</span></a>
                        <ul class="children">
                            <li><a href="/system/sysUser/query"><i class="fa fa-caret-right"></i>用户管理</a></li>
                            <li><a href="/system/sysRole/query"><i class="fa fa-caret-right"></i>角色管理</a></li>
                            <li><a href="/system/sysAutocode/query"><i class="fa fa-caret-right"></i>编码规则</a></li>
                            <li><a href="/log/userlog"><i class="fa fa-caret-right"></i>操作日志</a></li>
                        </ul>
                    </li>

                </ul>
                <!--  导航结束-->


            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->

        <!--left-->



<link rel="stylesheet" type="text/css" href="/plus/bootstrap-dialog/css/bootstrap-dialog.css">
<form  id="formid" method="post"  >

    <div class="contentpanel">
        <div class="pageheader">
            <h2><i class="fa fa-bookmark"></i>排课<span>...</span></h2>
            <div class="breadcrumb-wrapper">
                <div class="btn-group fr title-btn">
                    <a class="btn btn-sm btn-newblue" onClick="javascript:history.back(-1);">返回</a>

                    <a class="btn btn-sm btn-newblue"  onclick="checkSchedule()" >保存</a>
                    <a class="btn btn-sm btn-newblue" data-toggle="modal" data-target="#modal" data-url="/guanqiao/scheduleList/uploadfile">上传课件</a>

                </div>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="row">
            	 <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">产品</label>

                        <div class="col-xs-9">
                            <select name="pkProduct" id="select_idProduct" class="form-control" data-bv-notempty data-bv-notempty-message="请选择产品">
                            </select>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">老师</label>

                        <div class="col-xs-9">
                            <select name="pkEmployee" id="select_idEmployee" class="form-control pkEmployee" data-bv-notempty data-bv-notempty-message="请选择老师">

                            </select>
                        </div>
                    </div>
                </div>


                 <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">开始时间</label>

                        <div class="col-xs-9 ">
                            <input class="form-control js-datetimepicker2"   name="startTimes" type="text" data-bv-notempty data-bv-notempty-message="请选择开始时间">
                        </div>
                    </div>
                </div>
                 <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">结束时间</label>

                        <div class="col-xs-9 ">
                            <input class="form-control js-datetimepicker2"   name="endTimes" type="text" data-bv-notempty data-bv-notempty-message="请选择结束时间">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">第几节</label>

                        <div class="col-xs-9 ">
                            <input class="form-control "   name="productInclass" type="text" data-bv-notempty="" data-bv-notempty-message="请输入第几节">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">教师密码</label>

                        <div class="col-xs-9 ">
                            <input class="form-control "   name="cpwd" type="text" data-bv-notempty="" data-bv-notempty-message="请输入教师密码">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">巡检密码</label>

                        <div class="col-xs-9 ">
                            <input class="form-control "   name="ppwd" type="text" data-bv-notempty="" data-bv-notempty-message="请输入巡检密码">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">助教密码</label>

                        <div class="col-xs-9 ">
                            <input class="form-control"   name="apwd" type="text" data-bv-notempty="" data-bv-notempty-message="请输入助教密码">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">上课地址</label>

                        <div class="col-xs-9 ">
                            <input class="form-control" id="teacherurl"   type="text" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xs-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-1">教师课件</label>

                        <div class="col-xs-9 ">
                            <input class="form-control" id="filenum"   type="text" readonly>
                        </div>
                    </div>
                </div>

                <input type="hidden" value="" name="pkSchedule">

                <input type="hidden" value="" name="serialParent">
            </div>
        </div>
    </div>
</form>


<!--<#include "${staticPath}/commons/footer.ftl"/>-->

<!-- foot-->
</section>
<div id="modal" class="modal"></div>
<script src=" /js/jquery-1.11.1.min.js"></script>
<script src=" /js/jquery-migrate-1.2.1.min.js"></script>
<script src=" /js/bootstrap.min.js"></script>
<script src=" /js/modernizr.min.js"></script>
<script src=" /js/jquery.sparkline.min.js"></script>
<script src=" /js/toggles.min.js"></script>
<script src=" /js/retina.min.js"></script>
<script src=" /js/jquery.cookies.js"></script>


<script src=" /js/html5shiv.js"></script>
<script src=" /js/respond.min.js"></script>
<script type="text/javascript" src=" /js/uncompressed/moment.js"></script>
<script type="text/javascript" src=" /js/uncompressed/daterangepicker.js"></script>
<script type="text/javascript" src=" /js/TreeGrid.js"></script>
<script type="text/javascript" src=" /js/application.js"></script>
<script type="text/javascript" src=" /js/ajaxfileupload.js"></script>

<script src=" /js/jquery.datatables.min.js"></script>
<script src=" /js/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src=" /js/dataTables.bootstrap.js"></script>

<script src=" /js/login/bootstrapValidator.min.js"></script>
<script src=" /js/login/bootstrap-notify.js"></script>

<script src=" /js/custom.js?v=1"></script>
<script src=" /js/jquery.ztree.core.js"></script>
<script src=" /js/jquery.ztree.excheck.js"></script>
<script src=" /js/jquery.ztree.exedit.js"></script>
<script src=" /plus/Bootstrap-select/js/bootstrap-select.js"></script>
<script src=" /js/bootstrap-datetimepicker.min.js"></script>
<script src=" /js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src=" /js/function.js?v=3"></script>
<script src=" /js/wuxue-common.js"></script>

<script src=" /js/kindeditor/kindeditor-all.js"></script>
<script src=" /js/kindeditor/lang/zh-CN.js"></script>

<script src=" /layer/layer.min.js"></script>
</body>
</html>
<!-- foot-->


<script src="/plus/bootstrap-dialog/js/bootstrap-dialog.js"></script>
<<script type="text/javascript">

    $(function () {
        getteacher();
        getproduct();
        getScheduleByPk();
    });

    var pk=getParam("pkSchedule");
    function getScheduleByPk() {
        $.ajax({
            url:"/guanqiao/schedule/getScheduleByPk",
            data:{
                pkSchedule:pk
            },
            type:"post",
            dataType:"json",
            success:function (data) {
                if(data.code==0){
                    $("#select_idEmployee").find("option[value='"+data.data.pkEmployee+"']").attr("selected",true);
                    $("#select_idProduct").find("option[value='"+data.data.pkProduct+"']").attr("selected",true);

                    $("input[name='productInclass']").val(data.data.productInclass);
                    $("input[name='startTimes']").val(timestampConvertDateYHMD(data.data.startTime));
                    $("input[name='endTimes']").val(timestampConvertDateYHMD(data.data.endTime));
                    $("input[name='cpwd']").val(data.data.map.talkCloudRoom.chairmanpwd);
                    $("input[name='ppwd']").val(data.data.map.talkCloudRoom.patrolpwd);
                    $("input[name='apwd']").val(data.data.map.talkCloudRoom.assistantpwd);
                    $("input[name='pkSchedule']").val(data.data.pkSchedule);

                    $("input[name='serialParent']").val(data.data.map.talkCloudRoom.serial);
                    $("#teacherurl").val(data.data.map.talkCloudRoom.teacherUrl);
                    $("#filenum").val(data.data.map.talkCloudRoom.filenum);

                }
            },
            error:function () {
                alert("error!!");
            }
        })
        
    }

    function  getSerial() {
        return $("input[name='serialParent']").val();
    }
    

    //获取教师
    function getteacher(){
        $.ajax({
            url:"/guanqiao/employee/queryByPaging",
            data:{
                start:"1",
                length:"500"
            },
            type:"GET",
            dataType:"json",
            async:false,
            success:function (data) {

                if(data.iTotalRecords>0){
                    var arr = data.aaData;
                    var option ;
                    $.each(arr,function (i,valu) {
                        if(i==0){
                            option ="<option selected='selected' value='"+arr[i].pkEmployee+"'>"+arr[i].caption+"</option>";
                        }else {
                            option ="<option value='"+arr[i].pkEmployee+"'>"+arr[i].caption+"</option>";
                        }

                        $(option).appendTo("#select_idEmployee");
                    });
                }
            },
            error:function () {
                alert("error!!");
            }
        })
    }

    //获取启用的产品
    function getproduct(){
        $.ajax({
            url:"/guanqiao/product/queryByPagingList",
            data:{
                start:"1",
                length:"500",
                pkDomain:"gq",
                status:"1"   //启用
            },
            type:"GET",
            dataType:"json",
            async:false,
            success:function (data) {

                if(data.iTotalRecords>0){
                    var arr = data.aaData;
                    var option ;
                    $.each(arr,function (i,valu) {
                        if(i==0){
                            option ="<option selected='selected' value='"+arr[i].pkProduct+"'>"+arr[i].caption+"</option>";
                        }else {
                            option ="<option value='"+arr[i].pkProduct+"'>"+arr[i].caption+"</option>";
                        }

                        $(option).appendTo("#select_idProduct");
                    });
                }
            },
            error:function () {
                alert("error!!");
            }
        })
    }

    //检查排课 排重
    function checkSchedule() {
        $("#formid").bootstrapValidator();
        var bv = $("#formid").data('bootstrapValidator');
        bv.validate();
        if(bv.isValid()){
            var formData = $("#formid").serialize();
            $.ajax({
                url: "/guanqiao/schedule/checkschedule",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        submitSchedule();
                    } else {
                        Notify.danger(data.message);
                    }
                },
            });

        }

    }

    //修改
    function submitSchedule() {

        var cpwd=$("input[name='cpwd']").val();
        var apwd=$("input[name='apwd']").val();
        var ppwd=$("input[name='ppwd']").val();
        if(cpwd==apwd||cpwd==ppwd||apwd==ppwd){
            Notify.danger("密码不可以重复");
            return false;
        }

        var beginDate=$("input[name='startTimes']").val();
        var endDate=$("input[name='endTimes']").val();
        var d1 = new Date(beginDate.replace(/\-/g, "\/"));
        var d2 = new Date(endDate.replace(/\-/g, "\/"));

        if(beginDate!=""&&endDate!=""&&d1 >=d2)
        {
            Notify.danger("开始时间不能大于结束时间！");
            return false;
        }

            $.ajax({
                url:"/guanqiao/schedule/edit",
                data:$("#formid").serialize(),
                type:"POST",
                dataType:"json",
                success:function (data) {
                    if(data.code==0){
                        Notify.success(data.message);
                        window.location.href="/guanqiao/schedule/query";
                    }
                },
                error:function () {
                    alert("error!!");
                }
            })
    }


</script>

