<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                用户
            </h4>
        </div>
        <div class="modal-body">
            <form class="look form-ajax form-horizontal" id="formId" method="POST" action="/system/sysUser/save"
                  data-target="/system/sysUser/query">
                <div class="panel panel-default">
                    <ul class="nav nav-tabs nav-success">
                        <li class="active"><a data-toggle="tab" href="#all"><strong>基本信息</strong></a></li>
                        <li class=""><a data-toggle="tab" href="#two"><strong>权限分配</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="all" class="tab-pane active">
                            <input name="user.pkDomain" id="pkDomain" value=""  title="" type="hidden">
                            <div class="form-group row">
                                <label class="control-label col-xs-2 col-md-2">登录名</label>
                                <div class="col-xs-4 col-md-4">
                                    <input name="user.pkSysUser" id="pkSysUser" value="" class="form-control"
                                           title="" type="text">
                                    <input type="hidden" id="flag" name="flag" value="">
                                </div><!-- /.col -->
                                <label class="control-label col-xs-2 col-md-2">用户名</label>
                                <div class="col-xs-4 col-md-4">
                                    <input id="captionId" name="user.caption" class="form-control" value=""
                                           title="" type="text">
                                </div><!-- /.col -->

                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2 col-md-2">密码</label>
                                <div class="col-xs-4 col-md-4">
                                    <input name="user.password" value="" class="form-control"
                                           title="" type="text">
                                </div><!-- /.col -->
                                <label class="control-label col-xs-2 col-md-2">性别</label>
                                <div class="col-xs-4 col-md-4">
                                    <select id="selectSex" name="user.sex" class="form-control">
                                        <option id="sex1" value="1">男</option>
                                        <option id="sex2" value="2">女</option>
                                    </select>
                                </div><!-- /.col -->

                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-2 col-md-2">备注</label>
                                <div class="col-xs-10 col-md-10">
                                    <textarea class="form-control" id="memo" name="sysUser.memo" rows="4"
                                              va></textarea>
                                </div><!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2 col-md-2">创建人</label>
                                <div class="col-xs-4 col-md-4">
                                    <input readonly class="form-control" id="creator" value="" type="text"/>
                                </div><!-- /.col -->
                                <label class="control-label col-xs-2 col-md-2">创建时间</label>
                                <div class="col-xs-4 col-md-4">
                                    <input readonly class="form-control" id="creationDateTime" value="" type="text"/>
                                </div><!-- /.col -->
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2 col-md-2">修改人</label>
                                <div class="col-xs-4 col-md-4">
                                    <input readonly class="form-control" id="modifier" value="" type="text"/>
                                </div><!-- /.col -->
                                <label class="control-label col-lg-2 col-md-2">修改时间</label>
                                <div class="col-xs-4 col-md-4">
                                    <input readonly class="form-control" id="lasteditDateTime" value="" type="text"/>
                                </div><!-- /.col -->
                            </div>
                        </div><!-- tab-content -->
                        <!--2-->
                        <div class="tab-pane" id="two">
                            <div id="roleDiv" class="tree-view-menu-list font-16 open-user">
                            </div>
                        </div>

                    </div>


                </div><!-- contentpanel -->
                <div class="modal-footer">
                <input type="hidden" id="roleList" name="roleList">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                <input class="btn btn-newblue btn-sm saveButton" id="dosubmit" value="保存" type="button">
                </div>
            </form>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">


    $(function () {
        var id =parent.returnId();
        $.ajax({
            url:"/system/sysUser/edit",
            type:"GET",
            data:{"pkSysUser":id},
            dataType:"json",
            success:function (data) {
                if (data.code ==0){
                    $("#flag").val(data.data.map.flag);
                    $("#pkDomain").val(data.data.pkDomain);
                    $("#pkSysUser").val(data.data.pkSysUser);
                    $("#captionId").val(data.data.caption);
                    $("#memo").val(data.data.memo);
                    $("#creator").val(data.data.map.creatorEntity.caption);
                    $("#modifier").val(data.data.map.modifierEntity.caption);
                    $("#creationDateTime").val(timestampConvertDateYHMD(data.data.creationDate));
                    $("#lasteditDateTime").val(timestampConvertDateYHMD(data.data.lasteditDate));
                    $.each(data.data.map.sysRoles,function (i,valu) {

                        var input ="<input type='checkbox' name='checkboxrole' value='"+valu.pkSysRole+"'>"+valu.code +" - "+valu.caption+"<br/>";
                        $.each(data.data.map.userRole,function (j,va) {
                            if(va.pkSysRole ==valu.pkSysRole){
                                input ="<input type='checkbox' name='checkboxrole'checked='checked' value='"+valu.pkSysRole+"'>"+valu.code +" - "+valu.caption+"<br/>";
                            }
                        });
                        $(input).appendTo("#roleDiv");
                    });
                    if(data.data.sex ==1){
                        $("#sex1").attr("selected","selected");
                    }else {
                        $("#sex2").attr("selected","selected");
                    }

                }
            }
        })
    });




    $("#dosubmit").click(function () {

        var obj = document.getElementsByName("checkboxrole");
        roleList = "";
        for(k in obj){
            if(obj[k].checked)
                roleList += obj[k].value + ",";
        }
        roleList=(roleList.substring(roleList.length-1)==',')?roleList.substring(0,roleList.length-1):roleList;
        $("#roleList").val(roleList);
        var dataForm = $("#formId").serialize();
        $.ajax({
            url:"/system/sysUser/save",
            data:dataForm,
            type:"POST",
            sync:false,
            dataType:"json",
            traditional: true,
            success:function (data) {
                if(data.code ==0){
                    window.location.reload();
                }else {
                    Notify.danger(data.message);
                    window.location.reload();
                }
            }
        })
    });

    $('.form-ajax').bootstrapValidator().on('success.form.bv', function (e) {
        // Prevent form submission
        e.preventDefault();

        // Get the form instance
        var $form = $(e.target);

        // Get the BootstrapValidator instance
        var bv = $form.data('bootstrapValidator');

        // Use Ajax to submit form data

        $.post($form.attr('action'), $form.serialize(), function (data) {

            if (data.code == 0) {
                Notify.success(data.message);
                if ($form.data('target')) {
                    setTimeout("window.location.href='" + $form.data('target') + "'", 3000);
                }
            } else {
                Notify.danger(data.message);
                location.reload();
            }
        }, 'json');
    });
</script>