

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width:65%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.right .modal-dialog{
    transition: all 1s;
    right:0;
}
.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal-header .close{
    margin-top: 0!important;
}


/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 1s linear, right 1s ease-out;
    -moz-transition: opacity 1s linear, right 1s ease-out;
    -o-transition: opacity 1s linear, right 1s ease-out;
    transition: opacity 1s linear, right 1s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #F8F8F8;
}
.modal-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
}
.right .modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    text-align: right;
    border-top: 1px solid #e6e6e6;
}

